* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 40px;
  width: auto;
}

/* Hero */
.hero {
  height: 500px;
  width: 100%;

  background-size: cover;
  background-position: center;
}

.hero-text {
  height: 20%;
}

.home-hero {
  background-image: url(/images/storefront.webp);
}

.appearance .card-img-top {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

/* Company History */
.appearance-image {
  border-bottom: 15px solid orange;
}

.history {
  background-image: url(/images/appearances/streetcorner.webp);
}

.menu {
  background-image: url(/images/appearances/longriders.webp);
}

@media only screen and (min-width: 992px) {
  .active-border {
    border-bottom: 2px solid red;
  }
}
